body {
  margin: 0;
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: #212121;
  color: #fff5ee;
  letter-spacing: 0.06rem;
  justify-items: center;
}

button {
  margin-top: 5%;
  align-self: center;
  background-color: #292929;
  color: #ffffff;
  border: 1px solid #292929;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #444444;
}

button:focus {
  outline: none;
}

#main-area {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  visibility: hidden;
}

.open {
  visibility: visible;
}

#carousel {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0%;
}

img {
  height: 200px;
  width: auto;
  padding: 10px;
}